#years,
#months,
#days,
#hours, 
#minutes,
#seconds {
	font-size: 4em;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.smile {
	height:300px;
	background-image:url(../img/clinton_smile.jpg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

#github	{
	font-family: sans-serif;
	margin-top: 5%;
}

footer {
	position: fixed;
	bottom: 0;
	left:0;
	background-color: rgba(100,100,100,.5);
	width: 100%;
}

#trump {
	position:fixed;
	top:;
	left:;
}

#trump_face {
	height:300px;
	background-image:url(../img/trump_face.jpg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
